{% extends 'base.html' %}
{% load static %}

{% block title %}Games — Treasure & Friends{% endblock %}

{% block content %}

<h2 class="h1-kid"><i class="uil uil-game"></i> Games</h2>
<p class="small">Choose a fun Bible game</p>

<div class="games-grid" style="margin-top:1rem">
  <a href="game.html" class="game-tile">Puzzle <i class=" uil uil-puzzle-piece"></i></a>
        <a href="game.html" class="game-tile">Memory <i class=" uil uil-brain"></i></a>
        <a href="game.html" class="game-tile">Coloring <i class=" uil-paint-tool"></i></a>
</div>

{% endblock %}
