{% extends 'base.html' %}
{% load static %}

{% block title %}Login — Treasure & Friends{% endblock %}

{% block content %}

<div class="card" style="max-width:480px;margin:auto">

  <h2 class="h1-kid" style="text-align:center">Login</h2>

  <form style="margin-top:1rem">
    <label class="small">Email</label>
    <input type="email" class="card" style="padding:0.8rem; margin-bottom:1rem; width:100%;">

    <label class="small">Password</label>
    <input type="password" class="card" style="padding:0.8rem; margin-bottom:1rem; width:100%;">

    <button class="kid-btn" style="width:100%">Login</button>
  </form>

  <p class="small" style="margin-top:1rem; text-align:center;">
    Don't have an account?
    <a href="{% url 'register' %}" style="font-weight:700;">Register</a>
  </p>

</div>

{% endblock %}
